$color-primary: olive;

body {
  background-color: $color-primary;
}

div {
  font-size: 28px;
  color: skyblue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.car-img {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./../assets/img/s1.png');
}

.hide {
  display: none;
}